#nav-bar{
    position: sticky;
    top: 0;
    /* z-index: 2; */
}  
 
/* .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
} */

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003'; 
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 2;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

*{
    margin: 0;
    padding: 0;
}
#close:hover{
    color: red;
}
/* Navigation */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 2;
    /* background: #111; */
}
#hostel_name{
    color: #287ad1;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;

}
.fa-facebook{
    color: #007bff;
}
.fa-twitter{
    color: #007bff;
}
.fa-google-plus{
    color: #007bff;
}
.fa-youtube-play{
    color: #007bff;
}
.navbar-nav li a{ 
    float: right;  
    text-align: left;  
}
span{
    color:rgb(145, 31, 31);
    font-weight: bold;
}

.h1{
    text-shadow: 1px 1px 0px #111;
}
.span2{
    color:rgb(235, 235, 54);
}

#nav-bar ul li a:hover{
    color: #287ad1!important;
}

.navbar{
    background: #fff;
    color: #007bff;
}

.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

#headerSlider{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);

}

.carousel-caption{
    top: 45%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h3{
    text-shadow: 1px 1px 2px #111;
    color: #fff;
    font-size: 42px;
    z-index: 1;
}

/* ABOUT */

#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;

}

#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;

}


.about-content{
    padding-top: 20px;

}
.skills-bar p{ 
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar{
    border-radius: 16px;

}

.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/* Services */
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../../house3.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* .btn-primary{
    right: 200px;
} */
#services h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services{
    margin-top: 40px;
}

.icon{
    margin: 20px auto;
    font-size: 40px;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p{
    font-size: 14px;
    margin-top: 20px;
    color: white;
}

.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
h1{
    text-align: center;
    color: #555!important;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
/* ----Team members---- */
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    background: #efefef;
}
.img-responsive{
    height: 300px;
    width: 230px;
}

.profile-pic{
    margin-top: 25px; 
}
 
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{ 
    filter: grayscale(1);
}

.profile-pic .img-box img:hover{ 
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff!important;

}

.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;    
}

#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}

.img-box ul, .img-box ul li{
    transition: 0.5s;
}




/* -------Promo----- */
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../static/house3.jpg);
    background-size: cover;
    background-position: center;
    color:#fff;
    text-align: center;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 38px;

}

#services h3{
    color: #fff;
}

#credible{
    padding: 40px 0;
    background: #efefef;
}
/* -------Price Plan----- */

#price{
    background: #efefef;
}

.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover{
    box-shadow: 0 2px 20px #333;
}

.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}

.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;


}

.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;

}

ul li:last-child{
    border: none;

}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;

}           

a{
    text-decoration: none!important;
    color: #fff !important;
}
a{
    text-decoration: none!important;
    color: #fff !important;
}

/* ------Testimonials */
#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}

.user{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#testimonials .row{
    margin-top: 30px;
}

.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}

#testimonials span{
    font-size: 12px;
    color: #333;
}

/* blockquote{
    font-size: 16px;
    line-height: 30px;
}

blockquote::before{
    content: '\93';
    font-size: 50px;
    position: relative;
    color: #007bff;
    bottom: -15px;
    line-height: 20px;
    right: 5px; 
}
blockquote::after{
    content: '\93';
    font-size: 50px;
    position: relative;
    color: #007bff;
    bottom: -15px;
    line-height: 10px;
    left: 5px; 
}*/
#contact{ 
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder{
    color: #999 !important;
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}

.fa-heart-o{
    margin: 3px;
    color: red;
    
}   

.fa-quote-left{
    color: #007bff;
}

.fa-quote-right{
    color: #007bff;
}
/* Testimony Section */

