{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
                <li><a href="{% url 'dashboard' %}"> <i class="fa fa-home"></i> Dashboard<span class="sr-only">
         
          <li class="active"><a href="{% url 'account' %}"><i class="fa fa-user"></i> Account<span class="sr-only">(current)</a></li>
          <li><a href="{% url 'makepayment' %}"><i class="fa fa-credit-card"></i> Make payments</a></li>
          <li><a href="{% url 'teller:addteller' %}"><i class="fa fa-image"></i> Upload Teller</a></li>
          <li><a href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
       
      </div>
      <div class="col-sm-9  col-md-offset-2 main">
        <h1 class="page-header">Welcome, {{user.username}}</h1>
        <!-- <h3>Your Personal Details</h3> -->
        <div class="col-sm-9  col-md-offset-0">

                <style type="text/css">
    
                    .form-signin {
                    width: 100%;
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                    }
                    /* .form-signin .checkbox {
                    font-weight: 400;
                    } */
                    .form-signin .form-control {
                    position: relative;
                    box-sizing: border-box;
                    height: auto;
                    padding: 10px;
                    font-size: 16px;
                    }
                    .form-signin .form-control:focus {
                    z-index: 2;
                    }
                    .form-signin input[type="email"] {
                    margin-bottom: 10px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    }
                    .form-signin input[type="username"] {
                    margin-bottom: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    }
                    .h3{
                        text-align: center
                    }
                
                    #change{
                        text-decoration: none;
                    }
                    .d-flex{
                        text-align: center;
                    }
                
                   .header{
                       text-align: center;
                   }
                    
                </style>
                
                <form class="form-signin" method="POST">{% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-normal">Make changes</h1>
                    <hr width="100%">
                    {% if success_message %}
                        <p style="color: green; ">{{success_message}}</p>
                    {% endif %}
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value="{{account_form.initial.email}}">
                    <br>
                    <input type="text" name="room_number" id="inputEmail" class="form-control" placeholder="Room number" required autofocus value="{{account_form.initial.room_number}}">
                    <br>
                    <input type="text" name="username" id="inputPassword" class="form-control" placeholder="Username" required value="{{account_form.initial.username}}">
                    {% for field in account_form %}
                        <p>
                            {% for error in field.errors %}
                                <p style="color: red;">{{error}}</p>
                            {% endfor %}
                        </p>   
                    {% endfor %}
                            {% if account_form.non_field_errors %}
                                <div style="color: red;">
                                    <p>{{account_form.non_field_errors}}</p>
                                </div>
                            {% endif %}
                        </p> 
                
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
                </form>
                
                <div class="d-flex flex-column">
                    <a class="m-auto" id="change" href="{% url 'password_change' %}">Change password</a>
                </div>

                            <div class="blog-posts">
                                <h3 class="header">Teller posts:</h3>
                                {% if teller_posts %}
                                <ul>
                                    {% for post in teller_posts %}
                                        <a href="{% url 'teller:detailteller' post.slug%}" style="text-decoration: none;">
                                            <li class="list-group-item">{{post}}</li>
                                        </a>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p>You have not uploaded your teller click <a href="{% url 'teller:addteller' %}">here </a>to upload</p>
                                {% endif %}
                            </div>
                    
                    
                
{% endblock content %}
