{% extends 'base.html' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="{% url 'dashboard' %}"> <i class="fa fa-home"></i> Dashboard<span class="sr-only">

          <li><a href="{% url 'account' %}"><i class="fa fa-user"></i> Account<span class="sr-only">(current)</a></li>
          <li class="active"><a href="{% url 'makepayment' %}"><i class="fa fa-credit-card"></i> Make payments</a></li>
          <li><a href="{% url 'teller:addteller' %}"><i class="fa fa-image"></i> Upload Teller</a></li>
          <li><a href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
       
      </div>
      <div class="col-sm-9  col-md-offset-2 main">
        <h1 class="page-header">Welcome, {{user.username}}</h1>
        <!-- <h3>Your Personal Details</h3> -->
        <div class="col-sm-9  col-md-offset-0">
          <p>Follow this link to <a href="https://paystack.com/pay/mowaridhostel">Make Payment</a></p> 
          
{% endblock content %}
